body {
    padding: 0%;
    margin: 0%;
}


header {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F7FA;
    box-sizing: border-box;
    padding: 0px 144px;
}

.Nextcent {
    width: 154.5px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learn-more {
    height: 52px;
    width: 151px;
    border-radius: 4px;
    background-color: #4CAF4F;
    color: #ffff;
    border: none;
    font-size: 16px;
}

nav {
    height: 24px;
    width: 588px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.group-button {
    width: 182px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-button .login {
    height: 40px;
    width: 77px;
    color: #4CAF4F;
    background-color: #4caf4f00;
    border: none;
    font-size: 14px;
}

.group-button .sign-up {
    height: 40px;
    width: 90px;
    background-color: #4CAF4F;
    color: #ffff;
    font-size: 14px;
    border: none;
    border-radius: 6px;
}

.hero {
    height: 599px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F7FA;
    box-sizing: border-box;
    padding: 0px 144px;
}

.text-hero {
    height: 276px;
    width: 657px;
}

.hero h1 {
    font-size: 70px;
}

.text-green {
    color: #4CAF4F;
}

.hero p {
    font-size: 18px;
    margin-bottom: 32px;
}

.hero img {
    width: 391px;
    height: 407px;
}

.register {
    width: 128px;
    height: 52px;
    background-color: #4CAF4F;
    border: none;
    border-radius: 4px;
    color: #ffff;
    font-size: 16px;
}

.clients {
    box-sizing: border-box;
    padding: 0px 144px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.clients > h1 {
    font-size: 40px;
}

.clients > p {
    font-size: 18px;
    color: #717171;
}

.clients .img-clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.community {
    box-sizing: border-box;
    padding: 0px 144px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.community h1 {
    font-size: 40px;
}

.community p {
    font-size: 18px;
    color: #717171;
}

.community .cards {
    display: flex;
    justify-content: space-between;
}

.community .card {
    height: 260px;
    width: 299px;
    box-sizing: border-box;
    padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #ABBED1;
}

.community .card img {
    height: 56px;
    width: 65px;
    margin-bottom: 16px;
}

.community .card h2 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 28px;
}

.community .card p {
    margin-top: 0px;
    font-size: 16px;
}

.main .container-pixelgrade {
    height: 433px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 144px;
}

.container-pixelgrade img{
    height: 433px;
    width: 442px;
}

.pixelgrade-text {
    height: 268px;
    width: 661px;
}

.container-pixelgrade h1 {
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.container-pixelgrade p {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 32px;
    color: #717171;
}

.container-business {
    margin-top: 48px;
    margin-bottom: 48px;
    height: 288px;
    box-sizing: border-box;
    padding: 0px 144px;
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.business-status {
    height: 160px;
    width: 540px;
}

.business-status .up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.business-status .down {
    display: flex;
    justify-content: space-between;
}

.business-card {
    display: flex;
    width: 255px;
    height: 60px;
}

.business-card img {
    height: 48px;
    width: 48px;
}

.business-text {
    height: 120px;
    width: 540px;
}

.business-text h1 {
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.business-text p {
    font-size: 18px;
    margin-top: 0px;
}

.text-businnes-card {
    margin-left: 16px;
}

.text-businnes-card h2 {
    font-size: 28px;
    margin: 0px;
}

.text-businnes-card p {
    font-size: 16px;
    margin: 0px;
    color: #717171;
}

.container-design {
    padding: 0px 144px;
    box-sizing: border-box;
    margin-bottom: 48px;
    height: 434px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-design img {
    width: 441px;
    height: auto;
}

.container-design-text {
    width: 661px;
    height: 308px;
}

.container-design-text h1 {
    font-size: 42px;
    margin: 0px;
}

.container-design-text p {
    font-size: 16px;
    color: #717171;
    margin-bottom: 32px;
}

.container-tesla {
    padding: 0px 144px;
    box-sizing: border-box;
    margin-bottom: 48px;
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F7FA;
}

.container-tesla .container-tesla-bio {
    width: 748px;
    height: 324px;
}

.container-tesla .container-tesla-bio .text {
    width: 100%;
    height: 244px;
    margin-bottom: 32px;
}

.container-tesla .container-tesla-bio .text h2 {
    font-size: 24px;
    margin-top: 16px;
}

.container-tesla .container-tesla-bio .text p {
    font-size: 18px;
    color: #717171;
    margin: 0px;
}

.container-tesla .container-tesla-bio .img-client-tesla img {
    width: 48px;
    height: 48px;
}

.container-tesla .container-tesla-bio .img-client-tesla {
    width: 748px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notice {
    box-sizing: border-box;
    padding: 0px 144px;
    height: 506px;
}